<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/tofayelrana/IdeaProjects/WebAutomationFramwork_WeekDaysEvening_SeleniumDecember2019-master"><classes><class name="testNG.UseTestNGAnnotation"><methods><include name="testCase1"/><include name="testCase2"/></methods></class><class name="testhome.TestHomePage"><methods><include name="testDoSearch"/><include name="testDoSearchForTshirt"/><include name="testDoSearchForJewelery"/><include name="testDoSearchForBelt"/></methods></class></classes></test></suite>